{{!
    This is the mustache for the time block simple calculator.
    @template block_simple_calculator/calculator
    This template renders the entire block content.
}}

<div class="block-calculator-grid">
    <div class="block-calculator-output">
        <div data-block-calculator-previous-operand class="block-calculator-previous-operand"></div>
        <div data-block-calculator-current-operand class="block-calculator-current-operand"></div>
    </div>
    <button data-calculator-all-clear class="block-calculator-span-two">AC</button>
    <button data-calculator-delete>DEL</button>
    <button data-calculator-operation>÷</button>
    <button data-calculator-number>1</button>
    <button data-calculator-number>2</button>
    <button data-calculator-number>3</button>
    <button data-calculator-operation>*</button>
    <button data-calculator-number>4</button>
    <button data-calculator-number>5</button>
    <button data-calculator-number>6</button>
    <button data-calculator-operation>+</button>
    <button data-calculator-number>7</button>
    <button data-calculator-number>8</button>
    <button data-calculator-number>9</button>
    <button data-calculator-operation>-</button>
    <button data-calculator-number>.</button>
    <button data-calculator-number>0</button>
    <button data-calculator-equals class="span-two">=</button>
</div>
