<div id="block-calculator-output-popupbutton">
    <a class="btn btn-light" role="button" href="#" title="{{#str}}opencalculator, block_simple_calculator{{/str}}">
        {{#pix}} calculator-solid, block_simple_calculator {{/pix}}
    </a>
</div>