{{!
    This is the mustache for the time block simple calculator.
    @template block_simple_calculator/simple_calculator
    This template renders the entire block content.
}}

<div class="block-calculator-grid">
    <div class="block-calculator-output">
        <div id="data-block-calculator-previous-operand" class="block-calculator-previous-operand"></div>
        <div id="data-block-calculator-current-operand" class="block-calculator-current-operand"></div>
    </div>
    <button class="data-calculator-all-clear block-calculator-span-two" data-keybinding="Delete">AC</button>
    <button class="data-calculator-delete" data-keybinding="Backspace">DEL</button>
    <button class="data-calculator-operation" data-keybinding="/">÷</button>
    <button class="data-calculator-number" data-keybinding="1">1</button>
    <button class="data-calculator-number" data-keybinding="2">2</button>
    <button class="data-calculator-number" data-keybinding="3">3</button>
    <button class="data-calculator-operation" data-keybinding="*">*</button>
    <button class="data-calculator-number" data-keybinding="4">4</button>
    <button class="data-calculator-number" data-keybinding="5">5</button>
    <button class="data-calculator-number" data-keybinding="6">6</button>
    <button class="data-calculator-operation" data-keybinding="+">+</button>
    <button class="data-calculator-number" data-keybinding="7">7</button>
    <button class="data-calculator-number" data-keybinding="8">8</button>
    <button class="data-calculator-number" data-keybinding="9">9</button>
    <button class="data-calculator-operation" data-keybinding="-">-</button>
    <button class="data-calculator-number" data-keybinding=".">.</button>
    <button class="data-calculator-number" data-keybinding="0">0</button>
    <button class="data-calculator-equals span-two" data-keybinding="=">=</button>
</div>
